<% @applications.each do |application| %>
  <p><%= link_to "View Application (#{application.applicant})", "/applications/#{application.id}"%></p>
<% end %>
<p><%= link_to 'New Application', '/applications/new' %></p>
