<h3>All Shelters:</h3>
<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>

<h3>Shelters With Pending Applications:</h3>
<% @pending_shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>
